/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@font-face {
    font-family: SpaceGrotesk;
    src: url(/fonts/SpaceGrotesk-Regular.otf) format("truetype");
}

@font-face {
    font-family: Rubik;
    src: url(/fonts/Rubik-Regular.ttf) format("truetype");
}

html, body {
    font-family: Rubik
}