/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


@font-face {
    font-family: SpaceGrotesk;
    src: url(/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: Rubik;
    src: url(/fonts/Rubik-Regular.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

* {
    font-family: Rubik;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
    font-family: 'SpaceGrotesk';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;

    border-bottom: none;
}

h1 {
    font-size: 42px;
    line-height: 52px;
    word-break: break-word

    @media (min-width: 640px)  {
        font-size: 48px;
        line-height: 60px;
    }
}

h2 {
    font-size: 32px;
    line-height: 40px;

    @media (min-width: 640px)  {
        font-size: 36px;
        line-height: 46px;
    }
}

h3 {
    font-size: 26px;
    line-height: 32px;

    @media (min-width: 640px)  {
        font-size: 30px;
        line-height: 36px;
    }
}

h4 {
    font-size: 22px;
    line-height: 28px;

    @media (min-width: 640px)  {
        font-size: 24px;
        line-height: 32px;
    }
}

p {
    font-size: 16px;
    margin-top: 0;
    @media (min-width: 640px)  {
        font-size: 18px;
    }
}

a {
    cursor: pointer;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.page-heading {
    position: relative;

    font-family: SpaceGrotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    margin-bottom: 76px;

    color: #FFFFFF;
}

.page-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;

    width: 48px;
    height: 4px;
    background: #E83F42;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
     max-width: 100%;
     height: auto;
}

code {
  font-size: .9em;
  background-color: #282c34;
  padding: .2em .4em;
  border-radius: .5em;
}

/* Targets all elements that have an id attribute */
[id] { /* e.g documention anchors */
    scroll-margin-top: 7rem;
    margin-bottom: 0.75rem;

    @media (min-width: 640px) {
        scroll-margin-top: 8rem;
    }

}
